.imagem2{
    width:50% ;
}


.titulo{
    background-color: darkgray;
 }


.rodapé{
    background-color: darkgray;
}














@media screen and (min-width: 1024px){
    .imagem2f{
        width:100% ;
    }

}

 






