.imagem2{
    width:80% ;
    
}


.titulo{
    background-color: darkgray;
 }


.rodapé{
    background-color: darkgray;
}




@media screen and (min-width: 1024px){
    .imagem2{
        width:100% ;
    }
    .bombaA{
        display: grid;
        grid-template-columns: 40% 60%;
    }

}
